rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function getUserRole(uid) {
      let userDoc = firestore.get(/databases/(default)/documents/users/$(uid));
      return userDoc.exists ? userDoc.data.role : null;
    }
    match /branding/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && (request.auth.token.email == 'markjandoc@gmail.com' || getUserRole(request.auth.uid) in ['admin', 'support_developer']);
    }
    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
